html,body,h1,h2,h3,h4,h5,h6,p,div,hr,form,table,fieldset,legend,textarea,img,ol,li,ul,dl,dt,dd,input,button,header,nav,footer,section,article,aside,main,aside,figure,figcaption{
    margin:0;
    padding:0;
}
body{
    font-size: 12px;/* 将页面文字先设置成常用的12px */
    font-family: "微软雅黑";
}
a{
    text-decoration: none;/* 去除超链接下划线 */
}
ul,ol,li{
    list-style: none;/* 去除列表样式 */
}
h1,h2,h3,h4,h5,h6,b,strong{
    font-weight: normal;/* 将加粗标签变常规 */
}
input,button{
    outline: 0;/* input点击时的聚焦线去掉 */
}
i,em{
    font-style: normal;/* 倾斜字体变常规 */
}
img{
    vertical-align: middle;/* 图片文字垂直居中对齐 */
}
.noborder{
    border:0!important;/* 去除边框 */
}
.clearFix:after{  /* 解决高度塌陷 */
    content: '';
    height: 0;
    display: block;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}
html{
    font-size: 26.67vw;
}
html,body{
    height: 100%;
    overflow: hidden;
}
body{
    font-size: 0.12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    height: 0.69rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: relative;
}
header input{
    width: 2.69rem;
    height: 0.28rem;
    background: #f2f3f7;
    border: 0;
    outline: none;
    text-indent: 0.3rem;
    padding-left: 0.14rem;
}
header i{
    font-size: 0.18rem;
    font-weight: bold;
    color: #333333;
    
}
header span{
    font-size: 0.14rem;
    font-weight: bold;
    color: #333333;
    padding-right: 0.18rem;
}
header em{
    font-size: 0.14rem;
    color: #aaaaaa;
    position: absolute;
    top: 0.25rem;
    left: 0.22rem;
}

/*          main             */
main{
    flex: 1;
    overflow: auto;
}
main ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
main li{
    width: 0.68rem;
    height: 0.84rem;
    text-align: center;
}
main img{
    width: 0.43rem;
    height: 0.48rem;
    display: block;
    margin: 0 auto;
}
main span{
    display: block;
    font-size: 0.11rem;
    color: #5f5f5f;
}
main div:nth-of-type(1) img{
    width: 3.43rem;
    height: 0.7rem;
}
main ol img{
    width: 1.7rem;
    height: 1.19rem;
}
main ol li{
    width: 1.7rem;
    height: 1.19rem;
    padding-top: 0.03rem;
}
main ol{
    padding: 0.24rem 0.16rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
main div:nth-of-type(2){
    height: 0.65rem;
    display: flex;
    padding-left: 0.18rem;
    align-items: center;
}
main div:nth-of-type(2) h2{
    font-size: 0.2rem;
    color: #000000;
    font-weight: bold;
    padding-right: 0.09rem;
}
main div:nth-of-type(2) h5{
    font-size: 0.16rem;
    color: #000000;
    padding-left: 0.07rem;
    border-left: 0.015rem solid #040404;
}
main div:nth-of-type(3){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main div:nth-of-type(3) li{
    width: 1.1rem;
    height: 1.84rem;
}
main div:nth-of-type(3) img{
    width: 1.1rem;
    height: 1.1rem;
}
main div:nth-of-type(3) p{
    font-size: 0.12rem;
    color: #010101;
    padding-top: 0.1rem;
}
main div:nth-of-type(3) span{
    display: flex;
    justify-content: flex-start;
    font-size: 0.11rem;
    color: #f92f45;
}
main div:nth-of-type(4){
    height: 0.67rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
main div:nth-of-type(4) a{
    font-size: 0.16rem;
    color: #343434;
    font-weight: bold;
}
main div:nth-of-type(4) a:nth-of-type(1){
    font-size: 0.19rem;
    color: #000000;
}
main div:nth-of-type(4)::after{
    content: "";
    display: block;
    width: 0.2rem;
    height: 0.03rem;
    background: #f73243;
    border-radius: 0.08rem;
    position: absolute;
    left: 0.26rem;
    top: 0.55rem;
}
main div:nth-of-type(5){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
main div:nth-of-type(5) li:nth-of-type(1) img{
    width: 1.6rem;
    height: 1.7rem;
    border: 0.005rem solid #e0e2e1;
    border-radius: 0.08rem;
}
main div:nth-of-type(5) li:nth-of-type(1){
    width: 1.7rem;
    height: 2.87rem;
}
main div:nth-of-type(5) li:nth-of-type(1) h3{
    font-size: 0.13rem;
    color: #000000;
    font-weight: bold;
   
}
main div:nth-of-type(5) li:nth-of-type(1) strong{
    display: block;
    width: 0.29rem;
    height: 0.16rem;
    font-size: 0.12rem;
    border: 0.005rem solid #f83345;
}
/* main div:nth-of-type(5) li:nth-of-type(1) div{
   

} */
main div:nth-of-type(5) li:nth-of-type(2) img{
    width: 1.67rem;
    height: 2.49rem;
}
main div:nth-of-type(5) li:nth-of-type(2){
    width: 1.7rem;
    height: 2.49rem;
}

main div:nth-of-type(5) li:nth-of-type(3) img{
    width: 1.6rem;
    height: 1.7rem;
    border: 0.005rem solid #e0e2e1;
    border-radius: 0.08rem;
}
main div:nth-of-type(5) li:nth-of-type(3){
    width: 1.7rem;
    height: 2.87rem;
}
main div:nth-of-type(5) li:nth-of-type(3) h3{
    font-size: 0.13rem;
    color: #000000;
    font-weight: bold;
   
}
main div:nth-of-type(5) li:nth-of-type(3) strong{
    display: block;
    width: 0.29rem;
    height: 0.16rem;
    font-size: 0.12rem;
    border: 0.005rem solid #f83345;
}
main div:nth-of-type(5) li:nth-of-type(4) img{
    width: 1.6rem;
    height: 1.7rem;
    border: 0.005rem solid #e0e2e1;
    border-radius: 0.08rem;
}
main div:nth-of-type(5) li:nth-of-type(4){
    width: 1.7rem;
    height: 2.87rem;
}
main div:nth-of-type(5) li:nth-of-type(4) h3{
    font-size: 0.13rem;
    color: #000000;
    font-weight: bold;
   
}
main div:nth-of-type(5) li:nth-of-type(4) strong{
    display: block;
    width: 0.29rem;
    height: 0.16rem;
    font-size: 0.12rem;
    border: 0.005rem solid #f83345;
}
/*   footer      */
footer{
    height: 0.49rem;
    border-top: 0.01rem solid #f7f7f7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
footer .iconfont{
    display: block;
    font-size: 0.2rem;
    color: #929292;
}
footer a{
    font-size: 0.01rem;
    color: #989898;
}
footer a:nth-of-type(3){
    color: #f93344;
}
footer a:nth-of-type(3) i{
    color: #f93344;
}